<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe Book</title>
</head>
<body>
  <h1>Welcome to the Recipe Book</h1>
  <ul>
    <li><a href="/recipe1">Recipe 1: Chocolate Cake</a></li>
    <li><a href="/recipe2">Recipe 2: Vegetable Curry</a></li>
  </ul>
</body>
</html>

